
<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="email" placeholder="email" required>
      <div *ngIf="f['email']?.invalid && f['email']?.touched" class="invalid-feedback">
      <small *ngIf="f['email']?.errors?.['required']">Email is required.</small>
      <small *ngIf="f['email']?.errors?.['email']">Enter a valid email address.</small>
    </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div *ngIf="f['password']?.invalid && f['password']?.touched" class="invalid-feedback">
        <small *ngIf="f['password']?.errors?.['required']">Password is required.</small>
        <small *ngIf="f['password']?.errors?.['minlength']">
          Password must be at least 6 characters long.
        </small>
      </div>
    </div>
    <button type="submit"  [disabled]="loginForm.invalid">Sign In</button>
    <a  routerLink="/register" >Register New</a>
  </form>
</div>

